a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  /* font-size: 16px; */
}

.navbar .container {
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  /* border-bottom: 1px solid #354147; */
  padding: 20px;
  width: 100%;
}

.navbar {
  opacity: 1;
  color: #1c2023;
  border-bottom: 1px solid #354147;
  width: 100%;
  position: absolute;
  max-height: 125px;
  z-index: 1;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.link {
  margin-left: 20px;
  color: white;
  border: 1px solid #354147;
  padding: 10px 30px;
  border-radius: 20px;
}

.link:hover {
  border-color: #d84a3b;
  color: #d84a3b;
}

.link-span {
  cursor: pointer;
}
.image-navbar {
  height: 90px;
}

@media screen and (max-width: 760px) {
  .navbar .container {
    /* flex-direction: column; */
    padding-bottom: 5px;
  }
  .link {
    padding: 10px;
  }

  .menu {
    border: 1px solid hotpink;
    margin: 2px;
  }
}
@media screen and (max-width: 685px) {
  .navbar .container {
    flex-direction: column;
    padding-bottom: 5px;
  }

  a {
    font-size: 0.6rem;
  }

  .link {
    padding: 3px;
  }

  .container > img {
    size: 0.5rem;
  }

  .navbar {
    max-height: 135px;
  }
}
